@media (min-width: 400px) and (max-width: 767px) {
    /* services section start */
    .title h2 {
        font-size: calc(2.5rem + 1.5rem);
    }
    .title p {
        font-size: 1.6rem;
    }
    .content-area {
        text-align: center;
    }
    .service-section .content-area a {
        text-align: center;
        margin: 0%;
    }
    /* services section end */
}

@media (min-width: 400px) and (max-width: 991px){
    /* :root{
        font-size: 60%;
    } */
    .navbar-nav {
        text-align: center;
    }
    .dropdown-menu {
        width: 100%;
        text-align: center;
    }
    .header-section .content-area {
        text-align: center;
        margin-left: 80px;
        width: 100%;
        margin: 0px 0px 0px 40px;
    }
    .header-section .content-area h1 {
        font-size: 4.5rem;
    }
    .header-section .poster-area {
        text-align: center;
    }
    .button {
        text-align: center;
        margin-bottom: 15px;
    }
    /* header section end */
    

}